body {

}

.board {
	border: 5px solid black;
	position: relative;
	width: 350px;
	height: 350px;
	margin: auto;
	padding: 5px;
}

.row {
	margin: auto;
	padding: 5px;
	width: 330px;
	height: 75px;
}

.box {
	float: left;
	position: relatve;
	border: 1px solid black;
	width: 70px;
	height: 70px;
	margin: 5px 5px;
	font-family: 'Delius Unicase', cursive;
	text-align: center;
	font-size: 60px;
	text-transform: uppercase;
	color: black;
	background: black;
}

.hide {
	background: blue;
	color: blue;
}

.reveal {
	color: red;
}

.match {
	background: #fff;
	color: green;
}