body {

}

.board {
	border: 5px solid black;
	position: relative;
	width: 500px;
	height: 500px;
	margin: auto;
}

.row {
	border: 1px solid #333;
	position: relative;
	width: 500px;
}

.box {
	float: left;
	border: 1px solid black;
	width: 125px;
}